<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><%= @user.name %> said</p>
    <p>'<%= @story.body %>'</p>
    <p>
      <%= @story.story_title %>
    </p>
  </body>
</html>