
    <h1>This is called The Gravel Pit Universe.</h1>
    <h2><%= link_to "Sign Up", new_user_registration_path %> to become a Citizen.</h2>
    <h4><strong>Citizens</strong> can rate and comment on music. Go the extra mile and provide your birthdate to see your history intertwined with the history of the band.</h4>
    <h4><strong>Non-Citizens</strong> can stare in voiceless wonder at the comments and ratings of others, enjoying the following sections:</h4>
    <h4><%= link_to "Catalog", releases_path %> - the recorded output.</h4>
    <h4><%= link_to "Songs", songs_path %> - a searchable archive of the lyrics.</h4>
    <h4><%= link_to "Shows", shows_path %> - a very filterable history of live performances.</h4>
    <hr>
    <h4>To become a Citizen you only need to provide an email address and a name, simply to prove you are you. You're info won't be given to anyone.</h4>
    <h4>All comments and ratings you create are visible to everyone, everywhere. You can edit and delete them at any time.</h4>