<div class="row">
  <div class="col-md-12">
    <p class="listing">
      <%= render partial: "song", collection: @songs %>
    </p>
  </div>
</div>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'New Song', new_song_path, class: 'btn btn-success'  %>
      </div>
    </div>
  <% end %>
<% end %>