<h2>Shows</h2><hr>

<%= render partial: "song", collection: @songs %>

<br>

<% if user_signed_in? %>
  <% if current_user.admin? %>
        <%= link_to 'New Song', new_song_path, class: 'btn btn-success'  %>
  <% end %>
<% end %>