/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 
@import "bootstrap-sprockets";
@import "bootstrap";

a:hover { 
  color: red;
  text-decoration:none;
}

.listing {
font-size: large;
}

.listing small{
font-size: smaller;
color: #999999;
}

.listing a:link,.category a:link { 
  color: #333333;
}
.listing a:visited,.category a:visited { 
  color: #333333;
}

.listing a:hover,.category a:hover { 
  color: red;
  text-decoration:none;
}

.listing a:active,.category a:active { 
  color: #333333;
}

.fb-share-button {
  verticle-align: middle;
  margin-top: 2%;
  margin-bottom: 1%;
  }