// Place all the styles related to the Performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
font-size: x-large;
}

.listing small {
  font-size: small;
}

a:link { 
  color: #666666;
}
a:visited { 
  color: #666666;
}
a:hover { 
  color: #CCCCCC;
}
a:active { 
  color: #333333;
}

.performances {
  font-size: smaller;
  color: #333333;
}

.btn {
  color: #FFFFFF;
}