// Place all the styles related to the Performances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.listing {
font-size: x-large;
}

.listing small {
  font-size: large;
}

.listing a:link { 
  color: #999999;
}
.listing a:visited { 
  color: #999999;
}
.listing a:hover { 
  color: #000000;
}

.listing:active { 
  color: #333333;
}

.performances {
  font-size: smaller;
  color: #333333;
}

.btn {
  color: #FFFFFF;
}