<h2>Catalog</h2><hr>

<% @releases.each do |release| %>
  <p class="listing"><%= link_to release.title, release %> <small class="listing"><%= release.release_date.strftime('%Y') %></small></p>
<% end %>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <%= link_to 'New Release', new_release_path, class: 'btn btn-success'  %>
  <% end %>
<% end %>