
<div class="row">
  <div class="col-md-12">
    <div class="listing">
      <%= link_to show.date.strftime('%A, %B %e, %Y'), show %>
        <%= show.description %>
        <% if show.performances? %>
          <small class="listing">with <%= show.bill %></small>
        <% end %>
        <% if show.noted? %>
          <small title="This show has a note"><%= link_to "", show, class: 'glyphicon glyphicon-pencil' %></small>
        <% end %>
    </div>
    </div>
</div>