<div class="row">
  <div class="col-md-12">
      <%= render partial: "search"%>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
      <%= render partial: "show", collection: @shows %>
  </div>
</div>
<%= will_paginate @shows %>
<br>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    <div class="row">
      <div class="col-md-12">
        <%= link_to 'New Show', new_show_path, class: 'btn btn-success'  %>
      </div>
    </div>
  <% end %>
<% end %>