
<div class="row">
  <div class="col-md-12">
    <div class="media">
        <div class="media-body">
          <h1 class="media-heading">
            <%= @act.name %>
          </h1>
        </div>
      </div>
      <%= link_to 'Edit', edit_act_path(@act) %> |
      <%= link_to 'Back', acts_path %>
  </div>
</div>